<section id="countdown" class="countdown-container">
  <div class="wrap">
    <ul class="section-list countdown-list">
      <li><span id="years"></span>Years</li>
      <li><span id="months"></span>Months</li>
      <li><span id="days"></span>Days</li>
    </ul>
  </div>
</section>
