<hr/>
<h2>HTML</h2>

<h3>Document and Metadata</h3>
<table border="1">
  <!-- Doctype -->
  <tr><td>DOCTYPE</td><td>Document type and version(no need for HTML5)</td></tr>

  <!-- Document element -->
  <tr><td>html</td><td></td></tr>

  <!-- Head and meta element-->
  <tr><td>head</td><td></td></tr>
  <tr><td>title</td><td></td></tr>
  <tr><td>style</td><td></td></tr>
  <tr><td>link</td><td></td></tr>
  <tr><td>meta</td><td></td></tr>
  <tr><td>base</td><td>A base url against relative link.</td></tr>

  <!-- Body -->
  <tr><td>body</td><td></td></tr>
  <tr><td>noscript</td><td></td></tr>
  <tr><td>script</td><td>use defer attribute.</td></tr>
</table>

<h3>Text</h3>
<table border="1">
    <!-- Hyperlinks -->
    <tr><td>a<td/><td>Hyperlink</td></tr>

    <!-- Annotating text-->
    <tr><td>b<td/><td><b>Text</b></td></tr>
    <tr><td>em<td/><td>Emphasis</td></tr>
    <tr><td>i<td/><td>Terms</td></tr>
    <tr><td>s<td/><td><s>Corrections</s></td></tr>
    <tr><td>strong<td/><td><strong>Important</strong></td></tr>
    <tr><td>u<td/><td>Underline</td></tr>
    <tr><td>small<td/><td>Fine print</td></tr>
    <tr><td>sub<td/><td>Text<sub>sub</sub></td></tr>
    <tr><td>sup<td/><td>Text<sup>sup</sup></td></tr>

    <!-- Breaks -->
    <tr><td>br<td/><td>I have be <br/>en cutted.</td></tr>
    <tr><td>wbr<td/><td>Thisis<wbr>alongword</td></tr>

    <!-- Representing inputs and outputs -->
    <tr><td>code<td/><td></td></tr>
    <tr><td>samp<td/><td></td></tr>
    <tr><td>kbd<td/><td></td></tr>
    <tr><td>var<td/><td></td></tr>

    <!-- Citation, qutotations, definitions -->
    <tr><td>abbr<td/><td></td></tr>
    <tr><td>dfn<td/><td></td></tr>
    <tr><td>q<td/><td><q>Life就是鸡</q></td></tr>
    <tr><td>cite<td/><td></td></tr>

    <!-- Language -->
    <tr><td>ruby<td/><td><ruby>和谐<rp>(</rp><rt>撕逼</rt><rp>)</rp></ruby></rub></td></tr>
    <tr><td>rp<td/><td></td></tr>
    <tr><td>rt<td/><td></td></tr>
    <tr><td>bdo<td/><td><bdo dir="rtl">光明正大</bdo></td></tr>
    <tr><td>bdi<td/><td></td></tr>

    <!-- Others -->
    <tr><td>span<td/><td></td></tr>
    <tr><td>mark<td/><td><mark>Highlight</mark></td></tr>
    <tr><td>del<td/><td></td></tr>
    <tr><td>ins<td/><td></td></tr>
    <tr><td>time<td/><td></td></tr>
</table>

<h3>Grouping</h3>
<table border="1">

    <!-- Paragraph -->
    <tr><td>p</td><td></td></tr>

    <!-- Div -->
    <tr><td>div</td><td></td></tr>

    <tr><td>pre</td><td>Do not change the original format.</td></tr>

    <tr><td>blockquote</td><td><blockquote>A lots lots lots lots of quotes...</blockquote></td></tr>
    <tr><td>hr</td><td></td></tr>

    <!-- Lists -->
    <tr><td>ol</td><td></td></tr>
    <tr><td>ul</td><td></td></tr>
    <tr><td>li</td><td></td></tr>
    <tr><td>dl</td><td>Description list</td></tr>
    <tr><td>dd</td><td>Term</td></tr>
    <tr><td>dt</td><td>Definition</td></tr>

    <tr><td>figcaption</td><td></td></tr>
    <tr><td>figure</td><td></td></tr>
</table>

<h3>Sectioning</h3>
<table border="1">
    <!-- Heading -->
    <tr><td>hgroup</td><td></td></tr>
    <tr><td>h1-h6</td><td></td></tr>

    <tr><td>section</td><td></td></tr>
    <tr><td>header</td><td></td></tr>
    <tr><td>footer</td><td></td></tr>
    <tr><td>nav</td><td></td></tr>

    <tr><td>article</td><td></td></tr>
    <tr><td>aside</td><td></td></tr>
    <tr><td>address</td><td></td></tr>
    <tr><td>details</td><td><details><summary>Click to expand</summary>Nothing is in here.</details></td></tr>
    <tr><td>summary</td><td></td></tr>
</table>

<h3>Table</h3>
<table border="1">
    <tr><td>table</td><td></td></tr>
    <tr><td>tr</td><td></td></tr>
    <tr><td>th</td><td></td></tr>
    <tr><td>td</td><td></td></tr>

    <tr><td>thead</td><td></td></tr>
    <tr><td>tbody</td><td></td></tr>
    <tr><td>tfoot</td><td></td></tr>

    <tr><td>caption</td><td></td></tr>
    <tr><td>col</td><td></td></tr>
    <tr><td>colgroup</td><td></td></tr>

</table>

<h3>Form</h3>
<table border="1">
    <tr><td>form</td><td></td></tr>

    <tr><td>input</td><td></td></tr>
    <tr><td>label</td><td></td></tr>
    <tr><td>fieldset</td><td>Grouping form elements</td></tr>
    <tr><td>legend</td><td>Add a legend to fieldset</td></tr>
    <tr><td>button</td><td></td></tr>

    <tr><td>optgroup</td><td></td></tr>
    <tr><td>option</td><td></td></tr>
    <tr><td>textarea</td><td></td></tr>
    <tr><td>output</td><td><details>
        <summary>Output</summary>
        <form>
            <fieldset>
                <legend>Price Calculator</legend>
                <input type="number" id="quant" name="quant"/> x
                <input type="number" id="number" name="number"/> =
                <output for="quant name" name="res"/>
            </fieldset>
        </form>
    </details></td></tr>

    <tr><td>datalist</td><td></td></tr>
    <tr><td>keygen</td><td></td></tr>
    <tr><td>select</td><td></td></tr>
</table>


<h3>Embedding</h3>
<table border="1">
    <tr><td>img</td><td></td></tr>

    <tr><td>map</td><td></td></tr>
    <tr><td>area</td><td></td></tr>

    <tr><td>iframe</td><td></td></tr>
    <tr><td>embed</td><td></td></tr>

    <tr><td>audio</td><td></td></tr>
    <tr><td>canvas</td><td></td></tr>
    <tr><td>meter</td><td></td></tr>
    <tr><td>object</td><td></td></tr>
    <tr><td>param</td><td></td></tr>
    <tr><td>progress</td><td>
        <progress id="myprogress" value="0" max="100"></progress>
        <button class="progBtn" type="button" value="0">0</button>
        <button class="progBtn" type="button" value="50">50</button>
        <button class="progBtn" type="button" value="100">100</button>
    </td></tr>

    <tr><td>source</td><td></td></tr>
    <tr><td>svg</td><td></td></tr>
    <tr><td>track</td><td></td></tr>
    <tr><td>video</td><td></td></tr>
</table>

<h3>Unimplemented</h3>
<table border="1">
    <tr><td>command</td><td></td></tr>
    <tr><td>menu</td><td></td></tr>
</table>
