/* This is a comment */

body {
    background-color: #ffffff;
    background-color: hsla(0,100%,100%,0.5);
    text-align: center;
}

strong {
    color: red;
    text-decoration: underline; 
}

h1 {
    color: DarkCyan;
    text-transform: uppercase;
}

h2 {
    color: #ee3e80;
}

p {
     color: rgb(1000,100,90);
     width: 300px;
     padding: 50px;
     border: 20px solid #0088dd;
}

p.center {
     margin: 10px auto 10px auto;
     text-align: center;
}

p.round {
    padding: 0;
    border-radius: 100px;
}
