<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FE Study Notes</title>
    <link rel="stylesheet" href="dist/styles/main.css">
  <body>
  <!-- PLACE ALL OF YOUR PAGE CONTENT BELOW HERE -->
  <div class="container">
      {{> header }}
      {{> markup_demo}}
      {{> style_demo}}
      {{> script_demo}}
      {{> extra_demo}}
      {{> footer }}
  </div>

  <!-- AND ABOVE HERE -->
  <script src="dist/scripts/main.js"></script>
  </body>
</html>

