* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans";
	line-height: 1.618em;
	background: #2c3e50;
}

.wrapper {
	max-width: 65rem;
	width: 100%;
	margin: 2rem auto;
	padding: 5rem;
	text-align: center;
	background: #fff;
	border: 0.5rem solid #34495e;
}

hr {
	border: 0;
	border-bottom: 0.0625rem solid #bbb;
	margin: 3rem 0;
}

button {
	font-size: 2em;
	background: #3498db;
	color: #fff;
	border: 0.25rem solid #3498db;
	padding: 0.85em 0.75em;
	margin: 1rem;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

button:hover {
	color: #3498db;
}

button::after {
	content:"";
	background: #ecf0f1;
	position: absolute;
	z-index: -1;
	padding: 0.85em 0.75em;
	display: block;
}

button[class^="slide"]::after {
	transition: all 0.35s;
}

button[class^="slide"]:hover::after {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: all 0.35s;
}
